<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Basyir Social Media</title>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-flags.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-payments.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-vendors.min.css">
    <style>
        .centered-div {
            display: block;
            justify-content: center;
            align-items: center;
            margin-left: 30%;
            margin-right: 30%
        }
    </style>
</head>

<body>
    <div style="text-align: center;">
        <h1>Welcome to Basyir Social Media!!!</h1>
    </div>
    <div class="centered-div">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center pt-4 mt-auto">
                    <span style="margin-right:10px;" class="avatar"></span>
                    <div>
                        <form th:action="@{/posts/create?userId=3}" th:object="${post}" method="post">
                            <div class="">
                                <p style="margin-bottom: 0px; margin-top: 0px" class="card-title">@basyir34</p>
                                <textarea th:field="*{content}" rows="2" cols="90px" class="form-control"
                                    name="example-textarea" placeholder="Write a post..."></textarea>
                                <div style="margin-top: 10px;">
                                    <button type="submit" class="btn btn-primary">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <hr />
        <div style="text-align: center; margin-bottom:10px;">
            <a href="/posts/get/all" class="btn btn-primary">Reload</a>
        </div>
        <table>
            <tr th:each="post : ${posts}">
                <div style="margin-bottom: 10px;" class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mt-auto">
                            <span style="margin-right:10px; margin-top:0px" class="avatar"></span>
                            <div style="display: block; width:100%">
                                <div style="display: flex; justify-content: space-between;">
                                    <p th:text="'@' + ${post.user.username}" style="margin-bottom:0px; font-size: small;"
                                        class="card-title">
                                    </p>
                                    <p style="margin-bottom: 0; text-align: right;" th:text="${post.dateAndTimePosted}" ></p>
                                </div>
                                <p th:text="${post.content}" style="font-size: medium;" class="text-black"></p>
                            </div>
                        </div>
                        <div>
                            <a style="margin-right: 10px" href="">Like</a>
                            <a href="">Reply</a>
                        </div>
                    </div>
                </div>
            </tr>
        </table>
    </div>
</body>

</html>