<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Basyir Social Media</title>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-flags.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-payments.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-vendors.min.css">
    <style>
        .centered-div {
            display: block;
            justify-content: center;
            align-items: center;
            margin-left: 30%;
            margin-right: 30%
        }
    </style>
</head>

<body>
    <div style="text-align: center;">
        <h1>Welcome to Basyir Social Media!!!</h1>
    </div>
    <div class="centered-div">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center pt-4 mt-auto">
                    <span style="margin-right:10px; margin-bottom: 10px;" class="avatar"
                        style="background-image: url(...)"></span>

                    <h3 class="card-title">@maya77</h3>

                </div>
                <p style="font-size: larger;" class="text-secondary">This is some text within a card body.</p>
                <div><span class="text-red">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      
                      </svg>
                    </span></div>
            </div>
        </div>
    </div>
</body>

</html>